
*.ide
*.ide-shm
*.ide-wal
*.cache
EMAIL_MARKETING_THESIS_PROJECT/.vs/EMAIL_MARKETING_THESIS_PROJECT/v16/Server/sqlite3/storage.ide
EMAIL_MARKETING_THESIS_PROJECT/.vs/EMAIL_MARKETING_THESIS_PROJECT/v16/.suo
EMAIL_MARKETING_THESIS_PROJECT/.vs/EMAIL_MARKETING_THESIS_PROJECT/DesignTimeBuild/.dtbcache
EMAIL_MARKETING_THESIS_PROJECT/.vs/EMAIL_MARKETING_THESIS_PROJECT/v16/Server/sqlite3/storage.ide
*.ide
EMAIL_MARKETING_THESIS_PROJECT/.vs/EMAIL_MARKETING_THESIS_PROJECT/v16/Server/sqlite3/storage.ide
