<h1>Mailing Lists</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn btn-info" role="button">New Mailing List</a>
        </div>
    </div>

    <hr />

    @foreach(var mailingLists in Model)
    {

    }
</div>

