<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Campaign" asp-action="Create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;New Campaign</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="MailingList" asp-action="GetMailingLists"><i class="fa fa-th-list" aria-hidden="true"></i>&nbsp;Mailing Lists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Campaign" asp-action="Index"><i class="fa fa-magic" aria-hidden="true"></i>&nbsp;My Campaigns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Template" asp-action="GetTemplates"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email Templates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="OAuth" asp-action="SignIn"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;Sign in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>