@model EMAIL_MARKETING_THESIS_PROJECT.Models.Campaigns.Template

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Details</h4>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
</div>
<div>
    <a asp-action="GetTemplates" class="btn btn-info btn-sm"><i class="fa fa-arrow-left"></i>&nbsp;Back to List</a>
</div>