@model IEnumerable<EMAIL_MARKETING_THESIS_PROJECT.Models.Campaigns.Template>

@{
    ViewData["Title"] = "GetTemplates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Templates</h4>

<div>
    <a class="btn btn-info" asp-action="Create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Template</a>
</div>

<br />

<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Preview Template
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td></td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>