@model EMAIL_MARKETING_THESIS_PROJECT.Models.Campaigns.MailingList
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create Mailing List</h4>
<hr />
<br />
<div class="container">
    <div class="row form-group">
        <div class="col-md-6">
            @using (Html.BeginForm("Create", "MailingList", FormMethod.Post))
            {
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })

                <br />

                <div>
                    <button class="btn btn-info" type="submit" class="form-control"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create</button>
                </div>

            }
        </div>
    </div>
</div>