@model EMAIL_MARKETING_THESIS_PROJECT.Models.Campaigns.MailingList
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<a asp-controller="MailingList" asp-action="AddContacts">Add Contacts</a>
<a asp-controller="Segmentation" asp-action="AddSegment">Add Segment</a>

