@model EMAIL_MARKETING_THESIS_PROJECT.Models.Campaigns.MailingList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editing Mailing List Title: @Model.Title</h1>

@using (Html.BeginForm("Edit", "MailingList", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
                </div>
                <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-edit"></i>&nbsp;Update</button>
            </div>
        </div>
    </div>
}