@model IEnumerable<EMAIL_MARKETING_THESIS_PROJECT.Models.Campaigns.MailingList>

@{
    ViewData["Title"] = "GetMailingLists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Mailing Lists</h4>

<br/>

<div>
    <a class="btn btn-info" asp-action="Create" asp-controller="MailingList"><i class="fa fa-book"></i>&nbsp;New Mailing List</a>
</div>

<br />

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>No. of Contacts</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           @Html.Partial("_MailingListItem", item)
        }
    </tbody>
</table>