@{
    ViewData["Title"] = "Home Page";
}
@model EMAIL_MARKETING_THESIS_PROJECT.Views.Home.CustomerViewModel
    <div class="text-center">
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
