@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="email_marketing_background.jpg" alt="Italian Trulli" height="450">
        </div>
    </div>
</div>