@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-success" role="button">New Campaign</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary" role="button">Mailing List</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary" role="button">My Campaigns</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary" role="button">Email Templates</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            @Html.Partial("_MailingLists")
        </div>
    </div>
</div>